In [26]:
from dataclasses import dataclass
import pandas as pd

In [27]:
@dataclass
class Meal:
    name: str
    like: int
    min_delay: int
    health: int
    effort: int
    seasons: int
    gcp_type: int

In [14]:
int("10",2)

2

In [25]:
def choose_meal(meal_time, ):
    # exclude blacklist(meal_time)
    # exclude not_in_season(meal_time)
    # select randomly among remaining

IndentationError: expected an indented block (<ipython-input-25-c3b830b1b7b4>, line 4)

In [47]:
import numpy as np
meals_df = pd.read_csv(
    '../data/meals.csv', 
    dtype={
        'name': 'str', 
        'min_delay': 'int',
        'health': 'int',
        'effort': 'int',
        'seasons': 'str',
        'gcp_types': 'str',
        'like': 'int',
        },
    )
meals_df

                     name  like  min_delay  health  effort seasons gcp_types
0        beef bourguignon     9         60       3       4    1111       111
1                 hot dog    10          7       2       2    1111       011
2                raclette    10         30       2       3    1000       011
3             ratatouille     7         60       5       4    1111       101
4         kartoffelpuffer     8         14       2       2    1111       010
5          sweet potatoes     7          7       3       2    1111       110
6               mamma mia     9          7       1       2    1111       011
7                spaetzle     7          7       2       2    1111       010
8                    peas     7          4       5       2    1111       100
9             green beans     7          4       5       2    1111       100
10        brussel sprouts     7          4       5       3    1000       100
11               zucchini     7          3       4       2    1111       100
12              aubergine     7          7       4       3    1111       100
13               kohlrabi     7          7       5       2    1111       100
14         homemade pizza     9         14       3       3    1111       011
15       fondue savoyarde     0          0       0       0    1111       000
16            tartiflette     0          0       0       0    1111       000
17             tortellini     0          0       0       0    1111       000
18                  pasta     0          0       0       0    1111       000
19                   rice     0          0       0       0    1111       000
20                 quiche     0          0       0       0    1111       000
21   fondue bourguignonne     0          0       0       0    1111       000
22  fishfingers + spinach     0          0       0       0    1111       000
23                chicken     0          0       0       0    1111       001
24            flammkuchen     0          0       0       0    1111       000
25            bready meal     0          0       0       0    1111       000
26                   soup     0          0       0       0    1111       000
27               broccoli     0          0       0       0    1111       000
28          something new     0          0       0       0    1111       000
29            butcher jar     0          0       0       0    1111       000
30              bratwurst     0          0       0       0    1111       000
31           kinder dinos     0          0       0       0    1111       000
32               omelette     0          0       0       0    1111       000
33                 burger     0          0       0       0    1111       000
34                risotto     0          0       0       0    1111       000

In [22]:
with open("../data/meals.csv") as f:
    meals = []
    f.readline()
    for m in f.readlines():
        m_tuple = m.split(",")
        m_name, m_like, m_min_delay, m_health, m_effort, m_seasons, m_gcp_type = m_tuple
        new_meal = Meal(
            name = m_name,
            like = int(m_like) or 0
            min_delay = int(m_min_delay) or 0,
            health = int(m_health),
            effort = int(m_effort),
            seasons = int(m_seasons,2),
            gcp_type = int(m_gcp_type,2)
            )
        meals += [new_meal]

SyntaxError: invalid syntax (<ipython-input-22-3ecf6ad7dd4c>, line 10)

In [23]:
meals

[Meal(name='beef bourguignon', like=9, min_delay=60, health=3, effort=4, seasons=15, gcp_type=7),
 Meal(name='hot dog', like=10, min_delay=7, health=2, effort=2, seasons=15, gcp_type=3),
 Meal(name='raclette', like=10, min_delay=30, health=2, effort=3, seasons=8, gcp_type=3),
 Meal(name='ratatouille', like=7, min_delay=60, health=5, effort=4, seasons=15, gcp_type=5),
 Meal(name='kartoffelpuffer', like=8, min_delay=14, health=2, effort=2, seasons=15, gcp_type=2),
 Meal(name='sweet potatoes', like=7, min_delay=7, health=3, effort=2, seasons=15, gcp_type=6),
 Meal(name='mamma mia', like=9, min_delay=7, health=1, effort=2, seasons=15, gcp_type=3),
 Meal(name='spaetzle', like=7, min_delay=7, health=2, effort=2, seasons=15, gcp_type=2),
 Meal(name='peas', like=7, min_delay=4, health=5, effort=2, seasons=15, gcp_type=4),
 Meal(name='green beans', like=7, min_delay=4, health=5, effort=2, seasons=15, gcp_type=4),
 Meal(name='brussel sprouts', like=7, min_delay=4, health=5, effort=3, seasons=8, gcp_type=4),
 Meal(name='zucchini', like=7, min_delay=3, health=4, effort=2, seasons=15, gcp_type=4),
 Meal(name='aubergine', like=7, min_delay=7, health=4, effort=3, seasons=15, gcp_type=4),
 Meal(name='kohlrabi', like=7, min_delay=7, health=5, effort=2, seasons=15, gcp_type=4),
 Meal(name='homemade pizza', like=9, min_delay=14, health=3, effort=3, seasons=15, gcp_type=3)]

In [5]:
str.split?

Signature: str.split(self, /, sep=None, maxsplit=-1)
Docstring:
Return a list of the words in the string, using sep as the delimiter string.

sep
  The delimiter according which to split the string.
  None (the default value) means split according to any whitespace,
  and discard empty strings from the result.
maxsplit
  Maximum number of splits to do.
  -1 (the default value) means no limit.
Type:      method_descriptor